<div class="sidebar">
  <h3>Admin Dashboard</h3>
  <ul>
    <li ng-click="selectMenu('campus')" ng-class="{'active': selectedMenu === 'campus'}">
      Campus Management
    </li>
    <li ng-click="selectMenu('student')" ng-class="{'active': selectedMenu === 'student'}">
      Student Management
    </li>
    <li ng-click="selectMenu('company')" ng-class="{'active': selectedMenu === 'company'}">
      Company Management
    </li>
    <li ng-click="selectMenu('app')" ng-class="{'active': selectedMenu === 'app'}">
      App Management
    </li>
  </ul>
</div>
