<div class="header-dropdown" ng-class="{ 'is-open': isOpen, 'is-hidden': !isOpen }">
    <div class="header-dropdown-card settings-card" ng-if="isOpen">
        <div class="header-dropdown-title">Settings</div>

        <div class="settings-list">
            <button
                type="button"
                class="settings-item"
                ng-repeat="item in items"
                ng-class="{ 'is-danger': item.tone === 'danger' }"
                ng-click="handleSelect(item)"
            >
                <span class="settings-item-label">{{ item.label }}</span>
                <span class="settings-item-chevron">&raquo;</span>
            </button>
        </div>
    </div>
</div>
