<!-- Specialization Modal -->
<app-modal
    visible="showSpecializationModal"
    title="Specialization"
    size="lg"
    on-close="closeSpecializationModal()"
>
    <modal-body>
        <div class="specialization-modal-content">
            <p class="modal-subtitle">Manage your company's areas of specialization</p>
            <div class="modal-card-header">
                <h3>Areas of Specialization</h3>
                <button class="btn-add-spec" ng-click="addSpecialization()">
                    <i class="fa fa-plus"></i> Add Specialization
                </button>
            </div>
            <div class="specializations-list">
                <div
                    class="specialization-item"
                    ng-repeat="spec in modalSpecializations track by $index"
                >
                    <div class="form-row">
                        <div class="form-group">
                            <input
                                type="text"
                                class="form-control"
                                id="spec-name-{{$index}}"
                                name="spec-name-{{$index}}"
                                ng-model="spec.name"
                                placeholder="Specialization name"
                            />
                        </div>
                        <div class="form-group">
                            <input
                                type="text"
                                class="form-control"
                                id="spec-desc-{{$index}}"
                                name="spec-desc-{{$index}}"
                                ng-model="spec.description"
                                placeholder="Description"
                            />
                        </div>
                        <div class="form-group actions">
                            <button
                                class="btn-icon"
                                ng-click="removeSpecialization($index)"
                                title="Remove"
                            >
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </modal-body>
    <modal-footer>
        <button class="btn-submit" ng-click="saveSpecializations()">Save Changes</button>
    </modal-footer>
</app-modal>
