<div
    class="app-carousel"
    ng-class="{'app-carousel--pagination': type === 'pagination', 'app-carousel--arrows': type === 'arrows'}"
>
    <!-- Arrows Mode (arrows left/right of content) -->
    <div class="app-carousel-arrows-layout" ng-if="type === 'arrows'">
        <button
            class="app-carousel-arrow-btn"
            ng-click="goToPrevious()"
            ng-disabled="!canGoPrevious()"
            aria-label="Previous"
        >
            <img class="app-carousel-arrow app-carousel-arrow--left" ng-src="{{arrowSrc}}" alt="" />
        </button>

        <div class="app-carousel-content" ng-transclude></div>

        <button
            class="app-carousel-arrow-btn"
            ng-click="goToNext()"
            ng-disabled="!canGoNext()"
            aria-label="Next"
        >
            <img
                class="app-carousel-arrow app-carousel-arrow--right"
                ng-src="{{arrowSrc}}"
                alt=""
            />
        </button>
    </div>

    <!-- Pagination Mode -->
    <div class="app-carousel-content" ng-if="type === 'pagination'" ng-transclude></div>

    <!-- Pagination Mode -->
    <div class="app-carousel-controls" ng-if="type === 'pagination'">
        <button
            class="app-carousel-btn app-carousel-btn--prev"
            ng-click="goToPrevious()"
            ng-disabled="!canGoPrevious()"
            aria-label="Previous page"
        >
            ❮
        </button>

        <div class="app-carousel-pages" aria-label="Pagination">
            <button
                ng-repeat="page in getPageNumbers() track by page"
                class="app-carousel-page"
                ng-class="{'app-carousel-page--active': page === currentPage}"
                ng-click="goToPage(page)"
            >
                {{page}}
            </button>
        </div>

        <button
            class="app-carousel-btn app-carousel-btn--next"
            ng-click="goToNext()"
            ng-disabled="!canGoNext()"
            aria-label="Next page"
        >
            ❯
        </button>
    </div>
</div>
