<!-- app/layout/layout.html -->
<div class="layout-wrapper">
    <!-- header (from layout folder) -->
    <div
        class="layout-header"
        ng-include="'app/layout/header/header.html'"
        ng-controller="headerController"
    ></div>

    <div class="main-area">
        <!-- sidebar (from layout folder) - Using directive for dynamic menu -->
        <div class="left-column">
            <app-sidebar></app-sidebar>
        </div>

        <!-- page content -->
        <div class="right-column">
            <!-- child pages (dashboard/home, admin routes, role-based routes) will be injected here -->
            <div ng-if="adminTemplate" ng-include="adminTemplate"></div>
            <div ng-if="roleTemplate" ng-include="roleTemplate"></div>
            <div ng-if="!adminTemplate && !roleTemplate" ng-view></div>
        </div>
    </div>
</div>
