<!-- app/layout/layout.html -->
<div class="layout-wrapper">

  <!-- header (from layout folder) -->
  <div class='layout-header' ng-include="'app/layout/header.html'"></div>

  <div class="main-area">
    <!-- sidebar (from layout folder) -->
    <div class="left-column">
      <div ng-include="'app/layout/sidebar.html'"></div>
    </div>

    <!-- page content -->
    <div class="right-column">
      <!-- child pages (dashboard/home) will be injected here -->
      <div ng-view></div>
    </div>
  </div>

</div>
