<div class="login-home">
    <div class="hero-section">
        <div class="top-right-buttons">
            <button class="btn-register" ng-click="goToRegister()">Register</button>
            <button class="btn-login" ng-click="goToLogin()">Sign In</button>
        </div>

        <div class="hero-content">
            <h1>Welcome To Your Professional Community</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div class="search-box">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="Search CAMPUS, Students and Companies" />
            </div>
        </div>
    </div>

    <div class="section">
        <h2>Campus Registered</h2>
        <div class="card-row">
            <div class="left-arrow">❮</div>

            <div class="card">
                <img src="../../../assets/images/login-campus-image.png" />
                <h3>Campus Name</h3>
                <p>Lorem ipsum dummy text of the printing industry.</p>
            </div>

            <div class="right-arrow">❯</div>
        </div>
    </div>

    <div class="section">
        <h2>Companies Registered</h2>
        <div class="card-row">
            <div class="left-arrow">❮</div>

            <div class="card">
                <img src="../../../assets/images/login-campus-image.png" />
                <h3>Company Name</h3>
                <p>Lorem Ipsum is printing dummy text.</p>
            </div>

            <div class="right-arrow">❯</div>
        </div>
    </div>

    <div class="section">
        <h2>Institutions Registered</h2>

        <div class="card-row">
            <div class="left-arrow">❮</div>

            <div class="card">
                <img src="../../../assets/images/login-campus-image.png" />
                <h3>Institution Name</h3>
                <p>Lorem Ipsum is simply dummy text of the industry.</p>
            </div>

            <div class="right-arrow">❯</div>
        </div>
    </div>

    <div class="reviews-section">
        <h2>Latest News / Reviews</h2>

        <div class="review-row">
            <div class="review-card">
                <img src="../../../assets/images/login-news-image.png" />
                <h4>Title</h4>
                <p>Lorem Ipsum dummy text...</p>
            </div>

            <div class="review-card">
                <img src="../../../assets/images/login-news-image.png" />
                <h4>Title</h4>
                <p>Lorem Ipsum dummy text...</p>
            </div>

            <div class="review-card">
                <img src="../../../assets/images/login-news-image.png" />
                <h4>Title</h4>
                <p>Lorem Ipsum dummy text...</p>
            </div>
        </div>
    </div>

    <div class="about-section">
        <h2>About RecN</h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since Lorem Ipsum is simply dummy text
            of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
            dummy text ever since Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text ever since Lorem
            Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
            been the industry's standard dummy text ever since
        </p>
    </div>
</div>
