<div class="register-options-page">

    <!-- Top Right Sign In Button -->
    <div class="top-right">
        <button class="signin-btn" ng-click="goLogin()">Sign In</button>
    </div>

    <div class="container">

        <!-- Left Box -->
        <div class="left-box">
            <h2>Welcome To Your<br>Professional Community</h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and 
                typesetting industry. Lorem Ipsum has been the industry's
            </p>
        </div>

        <!-- Right Options -->
        <div class="right-box">

            <button class="option-btn" ng-click="goCampus()">Register as Campus</button>

            <button class="option-btn" ng-click="goStudent()">Register as Student</button>

            <button class="option-btn" ng-click="goCompany()">Register as Company</button>

        </div>

    </div>

    <footer>
        © 2025 Clavrit Digital Solutions. All rights reserved.
    </footer>

</div>
