<!-- Courses Modal -->
<app-modal
    visible="showCoursesModal"
    title="Courses We Offer"
    size="lg"
    on-close="closeCoursesModal()"
>
    <modal-body>
        <div class="courses-modal-content">
            <div class="courses-grid">
                <div
                    class="course-card"
                    ng-repeat="course in courses"
                    ng-click="openCourseDetailsModal(course)"
                >
                    <div class="course-card-top">
                        <h3>{{ course.name }}</h3>
                    </div>
                    <div class="course-card-bottom">
                        <p>Seats: {{ course.seats }}</p>
                        <p>Duration: {{ course.duration }}</p>
                        <p class="course-full-name">{{ course.fullName }}</p>
                    </div>
                </div>
                <div class="course-card add-course-card" ng-click="openCourseDetailsModal(null)">
                    <div class="course-card-top">
                        <i class="fa fa-plus"></i>
                        <h3>Add</h3>
                    </div>
                    <div class="course-card-bottom">
                        <!-- Empty for add card -->
                    </div>
                </div>
            </div>
        </div>
    </modal-body>
</app-modal>
