<!-- Certifications Offered Modal -->
<app-modal
    visible="showCertificationsModal"
    title="Certifications Offered"
    size="lg"
    on-close="closeCertificationsModal()"
>
    <modal-body>
        <div class="certifications-modal-content">
            <div class="certifications-grid">
                <div
                    class="certification-card"
                    ng-repeat="certification in certifications"
                    ng-class="{'selected': selectedCertification === certification.id}"
                    ng-click="selectCertification(certification.id)"
                >
                    <div class="certification-image">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                    <div class="certification-title">{{ certification.name || 'Course Name' }}</div>
                    <button class="btn-enroll" ng-click="enrollCertification(certification)">
                        Enroll Now <i class="fa fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </modal-body>
</app-modal>
