

<div class="admin-campus">


<!-- Announcement Box -->
    <div class="announcement-box">
        <p class="date">January 7th, 2025</p>
        <h2>RecN Announcement</h2>

        <div class="dots">
            <span></span><span></span><span></span>
        </div>

      
    </div>
<div class="campus-container">
  
    <div class="registered-campus">
    <h3>Registered Campuses</h3>
    <button class="add-btn" ng-click="openAddCampusForm()">+</button>
</div>
    <div class="campus-grid">
        <div class="campus-card" ng-repeat="campus in paginatedCampuses() track by $index">
            <img ng-src="{{campus.image}}" alt="Campus Image">
            <div class="campus-info">
                <h3>{{campus.name}}</h3>
                <button class="view-btn" ng-click="viewCampus($index)">View</button>
                <button class="delete-btn" ng-click="deleteCampus(($index + (currentPage-1)*itemsPerPage))">Delete</button>
            </div>
        </div>
    </div>

    <!-- Pagination -->
    <div class="pagination">
        <button ng-click="setPage(currentPage-1)" ng-disabled="currentPage === 1">&lt;</button>
        <button ng-repeat="n in [].constructor(totalPages()) track by $index"
                ng-click="setPage($index+1)" 
                ng-class="{'active': currentPage===$index+1}">
            {{$index+1}}
        </button>
        <button ng-click="setPage(currentPage+1)" ng-disabled="currentPage === totalPages()">&gt;</button>
    </div>
</div>
</div>
