<div class="app-input-wrapper">
    <label ng-if="label" for="{{inputId}}" class="app-input-label">
        {{label}}
        <span ng-if="required" class="required">*</span>
    </label>
    <div ng-if="isFileInput" class="app-file-input-wrapper">
        <input
            id="{{inputId}}"
            type="file"
            class="app-file-input"
            ng-class="{'input-error': error}"
            ng-required="required"
            ng-disabled="disabled"
            accept="{{accept}}"
            ng-attr-multiple="{{multiple ? 'multiple' : undefined}}"
            style="display: none"
        />
        <label for="{{inputId}}" class="app-file-input-label" ng-class="{'input-error': error}">
            <span class="app-file-input-text">{{getFileName()}}</span>
            <i ng-if="showIcon" class="fa {{icon}}"></i>
        </label>
    </div>
    <input
        ng-if="!isFileInput"
        id="{{inputId}}"
        type="{{type}}"
        class="input"
        ng-class="{'input-error': error}"
        ng-model="model"
        placeholder="{{placeholder}}"
        ng-required="required"
        ng-disabled="disabled"
    />
    <span ng-if="error" class="app-input-error">{{error}}</span>
</div>
