@if (visible) {
  <div class="modal-root" [class.modal-stacked]="stacked">
    <button class="backdrop" type="button" (click)="onBackdropClick()" aria-label="Close dialog"></button>
    <div class="modal" [class.sm]="size === 'sm'" [class.md]="size === 'md'" [class.lg]="size === 'lg'">
    <div class="panel" [ngClass]="modalClass ?? ''">
      <div class="header">
        @if (!hideCloseButton) {
          <button class="close" type="button" (click)="close()">×</button>
        }
        <div class="title" [class.left-align]="titleAlign === 'left'" [class.lowercase]="title.toLowerCase() === title">
          {{ title }}
        </div>
        @if (!hideCloseButton) {
          <div class="close-spacer"></div>
        }
      </div>

      <div class="body">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
  </div>
}


