.content-wrapper {
    padding: 30px;
}

/* Announcement Box */
.announcement-box {
    background: #6D8F92;
    padding: 30px;
    height:240px;
    border-radius: 20px;
    color: white;
    text-align: center;
}

.announcement-box .date {
    text-align: left;
}

.dots span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #F29D52;
    border-radius: 50%;
    margin: 0 5px;
}

.announcement-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.add-btn {
    background: #6D8F92;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}

.remove-btn {
    background: #F29D52;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}

/* Post input */
.post-input {
  width: 500px;
    background: white;
    border: 1px solid #aaa;
    border-radius: 12px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.post-input input {
    flex: 1;
    border: none;
    font-size: 15px;
}

.post-icons span {
    font-size: 18px;
    margin-left: 12px;
    cursor: pointer;
}

/* Main row */
.dashboard-row {
    display: flex;
    margin-top: 30px;
    gap: 30px;
}

/* Post card */
.post-card {
    border: 2px solid #2D7FE8;
    width: 60%;
    background: white;
    padding: 15px;
    border-radius: 10px;
}

.post-header {
    display: flex;
    gap: 15px;
}

.user-pic {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.post-image {
    width: 100%;
    margin-top: 15px;
}

.post-footer {
    background: #6D8F92;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: white;
}

/* Right section */
.right-side {
    width: 35%;
}


.course-boxes {
    display: flex;         
    gap: 15px;             
    margin-top: 10px;
}

.course-box {
    width: 100px;
    height: 100px;
    border: 2px solid #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    position: relative;
}

/* Only for first box plus button */
.add-course-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #F29D52;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.add-course-btn:hover {
    background-color: #dd8538;
}

.news-box {
    background: #F29D52;
    padding: 15px;
    border-radius: 12px;
    margin-top: 15px;
}

.news-box a {
    color: blue;
    font-size: 14px;
}
