<div class="login-page">

    <div class="header-btn">
        <button class="register-btn" ng-click="goRegister()">Register</button>
    </div>

    <div class="container">
        
        <!-- Left Welcome Box -->
        <div class="left-box">
            <h2>Welcome To Your<br>Professional Community</h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's...
            </p>
        </div>

        <!-- Sign In Box -->
        <div class="right-box">
            <h3>Sign In</h3>

            <input type="text" ng-model="login.email" placeholder="Email or phone" />
            <input type="password" ng-model="login.password" placeholder="Password" />

            <button class="signin-btn" ng-click="signIn()">Sign In</button>

            <div class="links">
                <p>New To RecN? <span ng-click="goRegister()">Register Now</span></p>
                <p class="forgot" ng-click="forgotPassword()">Forgot Password?</p>
            </div>
        </div>

    </div>

    <footer>
        © 2025 Clavrit Digital Solutions. All rights reserved.
    </footer>

</div>
