<div class="app-pagination">
    <button
        class="app-pagination-btn app-pagination-prev"
        ng-click="goToPrevious()"
        ng-disabled="currentPage === 1"
        aria-label="Previous page"
    >
        ❮
    </button>
    <div class="app-pagination-numbers">
        <button
            ng-repeat="page in getPageNumbers() track by page"
            class="app-pagination-number"
            ng-class="{'app-pagination-active': page === currentPage}"
            ng-click="goToPage(page)"
        >
            {{page}}
        </button>
    </div>
    <button
        class="app-pagination-btn app-pagination-next"
        ng-click="goToNext()"
        ng-disabled="currentPage === totalPages"
        aria-label="Next page"
    >
        ❯
    </button>
</div>
