<div class="input-with-file-wrapper">
  <input
    #fileInput
    type="file"
    [id]="fileInputId || 'file-input-hidden'"
    [accept]="accept ?? undefined"
    [disabled]="disabled"
    [required]="required"
    style="display: none"
    (change)="onFileChange($any($event.target).files)"
  />
  @if (label) {
    <div class="field-label-wrapper">
      <div class="field-label">
        {{ label }}
        @if (required) {
          <span class="asterisk" aria-hidden="true">*</span>
        }
      </div>
    </div>
  }
  <div class="input-with-icon">
    <app-input
      [label]="''"
      type="text"
      [value]="displayValue"
      [disabled]="disabled || readonly"
      [required]="false"
      [invalid]="invalid"
      [readonly]="readonly"
      (valueChange)="readonly ? null : onTextChange($event)"
    />
    <button
      type="button"
      class="icon-btn paperclip-icon"
      (click)="triggerFileSelect()"
      [disabled]="disabled"
      aria-label="Attach file"
    >
      <i class="fa-solid fa-paperclip"></i>
    </button>
  </div>
</div>

