<div
    class="app-modal-overlay"
    ng-show="isVisible"
    ng-click="closeOnBackdropClick($event)"
    ng-class="{'app-modal-visible': isVisible}"
>
    <div
        class="app-modal-content app-modal-{{size}}"
        ng-class="modalClass"
        ng-show="isVisible"
        tabindex="-1"
    >
        <!-- Modal Header -->
        <div class="app-modal-header" ng-if="title || showCloseButton">
            <h3 class="app-modal-title" ng-if="title">{{title}}</h3>
            <div ng-transclude="header"></div>
            <button
                ng-if="showCloseButton"
                class="app-modal-close"
                ng-click="close()"
                aria-label="Close modal"
            >
                ×
            </button>
        </div>

        <!-- Modal Body -->
        <div class="app-modal-body">
            <div ng-transclude="body"></div>
        </div>

        <!-- Modal Footer -->
        <div class="app-modal-footer" ng-transclude="footer"></div>
    </div>
</div>
