<!-- Dream Job Toolkit Modal -->
<app-modal
    visible="showDreamJobToolkitModal"
    title="Tool kit"
    size="md"
    show-close-button="true"
    modal-class="dream-job-toolkit-modal"
    on-close="closeDreamJobToolkitModal()"
>
    <modal-body>
        <div class="dream-job-toolkit-modal-content">
            <h3 class="toolkit-title">Dream Job Tool Kit</h3>
            <div class="toolkit-items">
                <div
                    class="toolkit-item"
                    ng-repeat="item in toolkitItems"
                    ng-click="openToolkitItem(item)"
                >
                    <span class="toolkit-item-label">{{ item.label }}</span>
                    <i class="fa fa-chevron-right toolkit-arrow"></i>
                </div>
            </div>
        </div>
    </modal-body>
</app-modal>
