.course-form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.course-form-box {
    width: 800px;
    background: white;
    padding: 25px 30px;
    border-radius: 12px;
    box-shadow: 0 5px 18px rgba(0,0,0,0.1);
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar h2 {
    font-size: 20px;
    font-weight: 600;
}

.close-btn {
    background: #FF9F45;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
    margin-top: 20px;
}

.form-group {
    margin-left: 12px;
    display: flex;
    flex-direction: column;
}

.form-group.full-width {
    grid-column: span 2;
}

label {
    margin-bottom: 5px;
    font-size: 14px;
}

input, textarea {
    padding: 10px;
    border: 2px solid #F4A261;
    border-radius: 10px;
    outline: none;
    font-size: 14px;
}

.upload-box {
    position: relative;
}

.upload-box input {
    width: 100%;
}

.upload-icon {
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    color: #FF9F45;
    font-size: 16px;
}

textarea {
    height: 100px;
    resize: none;
}

.submit-wrap {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.submit-btn {
    background: #2F5D62;
    color: white;
    padding: 10px 35px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}
