<div class="header-dropdown" ng-class="{ 'is-open': isOpen, 'is-hidden': !isOpen }">
    <div class="header-dropdown-card notifications-card" ng-if="isOpen">
        <div class="header-dropdown-title-row">
            <div class="header-dropdown-title">Notifications</div>
            <button class="header-dropdown-link" type="button" ng-click="handleMarkAllRead()">
                Mark all read
            </button>
        </div>

        <div class="header-dropdown-body">
            <div class="header-dropdown-loading" ng-if="state.isLoading">Loading...</div>

            <div class="header-dropdown-empty" ng-if="!state.isLoading && !state.groups.length">
                No notifications
            </div>

            <div class="header-dropdown-group" ng-repeat="group in state.groups">
                <div class="header-dropdown-group-title">{{ group.label }}</div>

                <div class="header-dropdown-item" ng-repeat="n in group.items">
                    <div class="header-dropdown-avatar">
                        <img ng-src="{{ n.avatarUrl }}" alt="" />
                    </div>
                    <div class="header-dropdown-item-content">
                        <div class="header-dropdown-item-title">{{ n.title }}</div>
                        <div class="header-dropdown-item-time">{{ n.timeLabel }}</div>
                    </div>
                </div>
            </div>

            <div class="header-dropdown-actions">
                <button
                    class="header-dropdown-btn"
                    type="button"
                    ng-click="handleSeePrevious()"
                    ng-disabled="state.isLoading"
                >
                    See previous notifications
                </button>
            </div>
        </div>
    </div>
</div>
