<!-- Campus Sidebar Bottom: Our Faculties -->
<div class="sidebar-after-menu sidebar-after-menu--campus">
    <div class="sidebar-section">
        <div class="sidebar-section-header">
            <div class="sidebar-section-title">Our Faculties</div>
            <button
                type="button"
                class="sidebar-section-action"
                ng-click="handleAddFaculty()"
                aria-label="Add faculty"
            >
                <i class="fa fa-plus"></i>
            </button>
        </div>

        <app-carousel
            type="pagination"
            current-page="facultiesPage"
            total-pages="facultiesTotalPages"
            max-visible="6"
            on-page-change="onFacultiesPageChange(page)"
        >
            <div class="sidebar-faculty-list">
                <div
                    class="sidebar-faculty-item"
                    ng-repeat="faculty in faculties | limitTo: facultiesPageSize : (facultiesPage - 1) * facultiesPageSize"
                >
                    <div class="sidebar-faculty-avatar">
                        <img
                            ng-if="faculty.image"
                            ng-src="{{ faculty.image }}"
                            alt="{{ faculty.name }}"
                        />
                        <div ng-if="!faculty.image" class="sidebar-faculty-avatar-placeholder">
                            {{ faculty.name.charAt(0) }}
                        </div>
                    </div>
                    <div class="sidebar-faculty-name">{{ faculty.name }}</div>
                </div>
            </div>
        </app-carousel>
    </div>
</div>
