<div class="app-textarea-wrapper">
    <label ng-if="label" for="{{textareaId}}" class="app-textarea-label">
        {{label}}
        <span ng-if="required" class="required">*</span>
    </label>
    <textarea
        id="{{textareaId}}"
        class="app-textarea"
        ng-class="{'input-error': error}"
        ng-model="model"
        placeholder="{{placeholder}}"
        ng-required="required"
        ng-disabled="disabled"
        rows="{{rows}}"
    ></textarea>
    <span ng-if="error" class="app-textarea-error">{{error}}</span>
</div>
