
.campus-form-container{
    width: 60%;
    margin: 20px auto;
    background: white;
    border-radius: 12px;
    box-shadow: 0 5px 18px rgba(0,0,0,0.1);
    padding: 25px;
}

.campus-form-container h2 {
    text-align: center;
    margin-bottom: 25px;
}

.campus-form-container  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
}

.campus-form-container  .form-group {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.campus-form-container  .form-group.full {
    width: 48%;
}

.campus-form-container  label {
    margin-bottom: 6px;
    font-size: 14px;
}

.campus-form-container  input, textarea {
    border: 2px solid #f7a462;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
}

.campus-form-container  textarea {
    height: 90px;
}

.campus-form-container  .submit-btn {
    display: block;
    margin: 25px auto;
    border: none;
    background: #538b8a;
    color: white;
    padding: 10px 35px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}
